.map__image {
  margin-bottom: 39px;

  width: 322px;
  height: 457px;

  background-image: url("../../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.map__button {
  margin-bottom: 39px;
}
