$main-color: #444444;
$secondary-color: #000000;
$main-bg-color: #ffffff;
$color-light-mint: #63d1bb;
$bg-color-current: #f1f1f1;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1250px;
$bg-color-icon: #63d1bb;
